.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1c6d6d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 80%;
  height: 85vw;
  background-color: lightgrey;
}

.toggle-view {
  font-size: 1.8vw;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: white;
  box-shadow: 1px 1px;
  font-size: 1.5vw;
  border: 1px solid #bbb;
  overflow: visible;
  width: 25%;
  padding: 5px;
  margin: 1%;
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
    height: 95vh;
    background-color: lightgrey;
  }
  .toggle-view {
    font-size: 18px;
  }
  li {
    font-size: 15px;
    height: 18%;
  }
}